{% extends "layout.html" %}

{% block title %}
    C$50
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>symbol</th>
                <th>shares</th>
                <th>total price</th>
                <th>current price/stock</th>
            </tr>
        </thead>
        <tbody>
            {% for data in dataset %}
                <tr>
                    <td>{{data['company_name']}}</td>
                    <td>{{data['symbol']}}</td>
                    <td>{{data['SUM(shares)']}}</td>
                    <td>{{data['SUM(total_price)']}}</td>
                    <td>{{data['current_price']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-md">
        <h1 class="display-6">balance = {{balance}}</h1>
        <h1 class="display-6">total in stocks = {{total}}</h1>
    </div>
{% endblock %}
